<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Camara Scanner </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background" [fullscreen]="true">
  <ion-row>
    <div class="container">
      <ion-col col-12 text-center>
        <ion-button (click)="captureImage()"> Click Picture </ion-button>
      </ion-col>
    </div>
    <ion-col col-12>
      <img width="100%" height="auto" [src]="clickedImage" />
    </ion-col>
    <ion-col *ngIf="result !== null ">
      <h4><span class="title">Name: </span><br /></h4>
      <span *ngFor="let name of extractName(result)">{{name}}<br /></span>

      <h4>
        <span class="title">Email: </span>
        <span *ngFor="let email of extractEmail(result)">{{email}}<br /></span>
      </h4>
      <h4>
        <span class="title">Number Phone:</span><br />
        <span *ngFor="let phone of extractContact(result)"
          >{{phone}}<br
        /></span>
      </h4>
      <h4><span class="title">address:</span><br /></h4>
      <span *ngFor="let address of extractAddress(result)"
        >{{address}}<br
      /></span>

      <h4><span class="title">website:</span><br /></h4>
      <span *ngFor="let website of extractWebsite(result)"
        >{{website}}<br
      /></span>

      <h4><span class="title">Texto reconocido</span></h4>

      <h5>{{result}}</h5>
    </ion-col>
  </ion-row>
</ion-content>
